.sec-history {
  width: 100%;
  font-size: 16px;
  height: 2.5em;
  line-height: 2.5em;
  font-weight: 600;
  color: $sec-title-txt;
  background-color: $sec-title-bg;
  padding-left: $main-padding-l;
}
