@import '~assets/stylus/variable.styl'
@import '~assets/stylus/mixin.styl'

.notify-btn >>> .cube-btn
  border-radius:46px;

.notify-btn
  padding 30px
.notify
  fixed-full()
  background $color-theme
  padding-top 256px
  .notify-status
    text-align center
  .status-title
    color $color-text
    font-size 32px
    margin-top 44px
    font-weight:400;
  .status-txt
    color $color-999
    // width 70%
    font-size 26px
    line-height 1.4
    margin 24px auto 0
    padding 0 30px