$channelIconList: ('ipo_history','xgxx','sqgg','ipo','other_fee','quotas','pro','password','transfer','statement', 'deposit', 'withdraw', 'exchange', 'fund_history', 'enter', 'out', 'stock_history', 'account', 'fund_list', 'dayly', 'add_limit', 'margin');

.sec-home {
  background-color: $color-content-bg;
  .sec-list-box {
    display: flex;
    flex-wrap: wrap;
    @include border-before-1px(top, $color-separate-line);
    @include border-after-1px(bottom, $color-separate-line);
  }

  .sec-list-item {
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: .08rem 0;
    @include border-before-1px(right, $color-separate-line);
    @include border-after-1px(bottom, $color-separate-line);
    font-size: 0;
    
    i {
      display: inline-block;
      width: .25rem;
      height: .25rem;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    span {
      display: inline-block;
      width: 100%;
      font-size: .12rem;
      line-height: 2em;
    }
  }

  .sec-list-item-last-line {
    border-bottom: none;
  }

  .sec-list-item:active {
    background-color: $color-block-bg-active;
  }

  @each $channelIcon in $channelIconList {
    i.sec-icon-#{$channelIcon} {
      background-image: url('~@/modules/module-iaccount/assets/img/home/home_#{$channelIcon}.png');
    }
  }
}
