<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <!-- 忽略页面中的数字识别为电话号码 -->
  <meta name="format-detection" content="text=no">
  <!-- 忽略页面中的邮箱格式为邮箱 -->
  <meta name="format-detection" content="password=no" />
  <link rel="shortcut icon" href="./favicon.ico">
  <script src="<%= VUE_APP_COMMON_CONFIG %>?v=<%= htmlWebpackPlugin.options.time %>"></script>
  <script src="./config/risk.js?v=<%= htmlWebpackPlugin.options.time %>"></script>
  <script src="./config/notice.js?v=<%= htmlWebpackPlugin.options.time %>"></script>
  <script src="./config/agreement.js?v=<%= htmlWebpackPlugin.options.time %>"></script>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <noscript>
    <strong>We're sorry but this page doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>