$color-theme: #ffffff;
$color-theme-xs: rgba(255, 255, 255, 0.2);
$color-theme-s: rgba(255, 255, 255, 0.3);
$color-theme-m: rgba(255,255,255, 0.4);
$color-theme-l: rgba(255, 255, 255, 0.5);
$color-theme-xl: rgba(255, 255, 255, 0.8);

$color-theme-bg: #F5F5F5;
$color-theme-active: #f95a29;

$color-mask-bg: rgba(0, 0, 0, .4);
$color-error-msg: #ff0000;
$color-input-bg: #f0f0f0;
$color-link: #FC724C;
$color-border: #e5e5e5;
$color-border-light: #F2F2F2;

$color-head-title: #FEFEFE;

$color-upload-bg: #EFF0F0;
$color-upload-cross: #C9C9C9;
$color-upload-action-bg: #191A2A;

$color-mybank-label: rgba(254, 254, 255, .5);
$color-mybank-bg: rgba(113, 113, 113, 1);
$color-mybank-shadow: rgba(113, 113, 113, .4);

$color-red: #F94846;
$color-bold: #2b2b2b;
$color-ccc: #ccc;
$color-eee: #eee;
$color-666: #666;
$color-888: #888;
$color-999: #999;
$color-text: #333;
$color-tips: #F15B5A;
$color-arrow: #8C8EA0;

$bg-sz: #25D80A;
$bg-us: #3595FB;
$bg-hk: #FC4D6A;