@import '~@/modules/module-iaccount/assets/styles/variable.scss';
@import '~@/modules/module-iaccount/assets/styles/mixin.scss';

.cmbc {
  .qa {
    background: $color-theme;
    padding: 20px 30px 0;
    .qa-item {
      margin-top: 5px;
      padding-bottom: 22px;
      @include border-x(bottom, $style: dashed);
      &+.qa-item {
        margin-top: 25px;
      };
      .title {
        color: $color-text;
        font-size: 30px;
      };
      .txt {
        color: $color-666;
        font-size: 26px;
        line-height: 48px;
        text-align: justify;
        margin-top: 20px;
      };
    };
  };
  .account {
    padding: 20px 30px 0;
    background: $color-theme;
    .text {
      font-size: 26px;
    } 
    .acc-num {
      text-align: center;
      font-weight: bold;
      padding: 40px;
      font-size: 50px;
    }
  }
}