@import '@/customize/theme/_val_white';

.olhk-step-protocol-confirm {
  .step-content-sign-list {
    padding: .14rem .25rem;
    font-size: .14rem;
  
    .sign-title {
      margin-top: .06rem;
    }
  
    .sign-box {
      margin-top: .16rem;
      box-shadow: 0px 3px 18px 0px $color-separate-line;
  
  
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  
    .sign-img {
      width: 100%;
      height: 1rem;
      text-align: center;
      padding: .1rem;
  
      vertical-align: middle;
      line-height: .8rem;
    }
  
    .sign-content {
      // border-top: 2px solid $color-border;
      padding: .15rem;
  
      ul {
        margin-top: .1rem;
        line-height: 1.5;
        // color: $color-text;
      }
    }
  
    .sign-tips {
      text-align: center;
      line-height: 1.5;
      margin-top: .2rem;
      font-size: .12rem;
  
      em {
        font-style: normal;
        color: #f95a29;
      }
    }
    
  }
  .pwdTitle {
    padding-left: .14rem;
    font-size: 0.18rem;
    margin-top: .2rem
  }
  
  .rule {
    padding-left: .14rem;
    color: #5A2AB8;
    font-size: 0.13rem;
    line-height: .2rem;
    margin-bottom: 0.1rem;
  }
  .trade-pwd {
    background-color: #fff;
    padding: .1rem 0.14rem 0;

    .warn {
      color: $color-error;
      font-size: 0.13rem;
    }
    .pwd {
      width: 100%;
    }
    .suc {
      color: $color-success;
    }

  }
}
