.olhk-step-info-contact {
  
  .step-content-upload-tips {
    padding: .1rem $padding-lr;
    font-size: $form-lengend-font;
    color: $color-form-lengend-highlight-txt;
  }

  .tips {
    position: relative;
    padding: .1rem .15rem 0 .25rem;
    font-size: $weak-font-3;
    color: $color-flat;
    font-family: PingFang SC, STHeitiSC-Light, Helvetica-Light, arial, sans-serif;

    span {
      color: $color-form-lengend-highlight-txt;
    }
  }
  .tips::before {
    position: absolute;
    content: '*';
    display: inline-block;
    line-height: $imp-font;
    font-size: $imp-font;
    color: $color-form-lengend-highlight-txt;
    left: .15rem;
  }

  
  .step-content-address-img-upload {
    display: flex;
    align-items: stretch;
    justify-content: start;
    padding: .1rem;

    &>li {
      display: inline-block;
      // flex: 1;
      width: .84rem;
      height: .74rem;
      padding: 0 .05rem;
      .op-com-photo-img{
        height: .64rem;
        line-height: .64rem;
        padding: .05rem;
      }
    }
  }
}