
.transfer-info-wrap {
  width: 100%;

      .tips {
        padding: 0.15rem 0.15rem;
        font-size: 0.14rem;
        color: $color-txt-highlight;
      }

  .transfer-info-title {
    font-size: 0.17rem;
    padding: 0.15rem 0.15rem;

  }
  
  .cube-form_standard .cube-form-item {
    min-height: 46px;
  }
}
