$search-h: .5rem;

.help-center-search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .search{
    width: 100%;
    background-color: $color-input-bg;
    padding: .1rem .15rem;
  }

  .info {
    font-size: 13px;
    padding: .12rem .15rem;
    background-color: $color-block-bg;
    border-bottom: solid 1px $color-separate-line;
  }

  & > section{
    flex:1;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
  }

  .list{
    padding-bottom: .1rem;
  }
  
  .item {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3.2em;
    line-height: 3.2em;
    padding: 0 .15rem;
    background-color: $color-block-bg;
    border-bottom: solid 1px $color-separate-line;
  }

  .item:active{
    background-color: $color-block-bg-active;
  }

  .item::before {
    content: " ";
    position: absolute;
    left: 15px;
    right: 15px;
    height: 1px;
    color: $color-separate-line;
    bottom: -1px;
    border-bottom: 1px solid $color-separate-line;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
  }

  .item::after {
    content: " ";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-width: 1px 1px 0 0;
    border-color: $color-arrow;
    border-style: solid;
    transform: matrix(.71, .71, -.71, .71, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 15px;
  }

  .empty {
    padding: .1rem 0;
    text-align: center;
    font-size: 13px;
    color: $color-input-txt-placeholder;
  }

  .color-highlight{
    color: $color-main;
  }

}
