$channelIconList: ('deposit', 'withdraw', 'fund_history', 'enter', 'out', 'stock_history');

.sec-home {
  .sec-list-box {
    display: flex;
    flex-wrap: wrap;
  }

  .sec-list-item {
    width: 33.33%;
    display: inline-block;
    text-align: center;
    padding: .1rem 0;
    background-color: $color-block-bg;

    i {
      display: inline-block;
      width: .32rem;
      height: .32rem;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    span {
      display: inline-block;
      width: 100%;
      font-size: 13px;
      line-height: 2em;
    }
  }

  .sec-list-item:active {
    background-color: $color-block-bg-active;
  }

  @each $channelIcon in $channelIconList {
    i.sec-icon-#{$channelIcon} {
      background-image: url('@/../../img/home/home_#{$channelIcon}.png');
    }
  }
}
