// 字体大小
$imp-font: .16rem;

$normal-font: .14rem;
$normal-font-2: .13rem;
$normal-font-3: .12rem;

$weak-font: .11rem;
$weak-font-2: .1rem;


$padding-lr: .15rem;
$padding-tb: .15rem;


$form-lengend-font: .12rem;
$form-item-label-font: .14rem;
$form-item-field-font: .14rem;

$screen-width: 3.75rem;
