.sec-top-nav {
  padding: .13rem 0 .15rem;
  font-size: 14px;
  background-color: $color-top-nav-bg;
  text-align: center;

  li {
    display: inline-block;
    height: 2.4em;
    line-height: 2.2em;
    padding: 0 .8em;
    color: $color-top-nav-item-txt;
    border-style: solid;
    border-width: 1px;
  }

  li:first-child {
    border-radius: .5em 0 0 .5em;
    border-right: none;
  }

  li:last-child {
    border-radius: 0 .5em .5em 0;
    border-left: none;
  }

  li.active {
    color: $color-top-nav-item-txt-active;
    background-color: $color-top-nav-item-bg-active;
    border-color: $color-top-nav-item-bg-active;
  }

  li.disable {
    color: $color-top-nav-item-txt-disable;
    background-color: $color-top-nav-item-bg-disable;
    // border-color: $color-top-nav-item-bg-disable;
  }
}
