@import '~@/modules/module-iaccount/assets/styles/variable.scss';
@import '~@/modules/module-iaccount/assets/styles/mixin.scss';

.bank-list {
  & /deep/ .list-item {
    .item-media {
      padding: .21rem .15rem;
    }
    .media-img {
      margin-left: 0;
    }
  }
  .list-wrap {
    @include border-x();
    margin-top: -.05rem;
    &:before {
      left: .15rem;
    }
  }
}