.com-bottom-share {

  .logo {
    display: inline-block;
    width: .34rem;
    height: .34rem;
    background-image: url("~@/customize/assets/images/logo.png");
    background-position: center;
    background-size: 100%;
    border-radius: 5px;
    margin: .08rem .15rem;
    background-repeat: no-repeat;
  }

  .button {
    padding: .07rem .15rem;
    font-size: .14rem;
    margin: 0 .15rem;
    border-radius: 5px;
    background-color: $color-btn-bg-active;
    color: $color-btn-txt;

  }
}