@import '~@/customize/theme/_val_white.scss';
@import '~@/modules/module-iaccount/assets/styles/variable.scss';
@import '~@/main/assets/scss/_mixin.scss';

.list-wrap {
  width: 100%;
  font-size: .14rem;

  .list-item {
    margin-bottom: .05rem;
    padding: .05rem .15rem;
    background-color: $color-content-bg;
    .top {
      display: flex;
      justify-content: space-between;
      // font-size: .13rem;
      padding: .1rem 0;
      @include border-after-1px();
    }

    .item-line {
      display: flex;
      justify-content: space-between;
      padding: .05rem;

    }

    .tb {
      display: table;
      width: 100%;
      padding: .05rem 0;
    }


    .tr {
      display: table-row;
      line-height: 1.7em;
    }

    .td {
      display: table-cell;
    }

    
    .thead {
      .td {
        font-weight: 600;
      }

    }

    .txt-left{
      text-align: left;
    }
    .txt-right{
      text-align: right;
    }
  }
}
.noMore {
  text-align: center;
  padding: .1rem;
  font-size:.12rem;
  color: $color-txt-sub;

}
.unProcessed {
  color: $color-error;
}
.success {
  color: $color-success;
}
