@import '~@/modules/module-iaccount/assets/styles/variable.scss';
@import '~@/modules/module-iaccount/assets/styles/mixin.scss';

.notify {
  @include fixed-full();
  background: $color-theme;
  padding-top: 256px;
  .notify-status {
    text-align: center;
  }
  .status-title {
    color: $color-text;
    font-size: 32px;
    margin-top: 44px;
  }
  .status-txt {
    color: $color-999;
    width: 70%;
    font-size: 26px;
    line-height: 1.4;
    margin: 24px auto 0;
  }

  .notify-action {
    @include flex-box($row: center);
    margin-top: 114px;
    .action-item {
      width: 320px;
      &+.action-item {
        margin-left: 20px;
      }
    }
  }
}