@import '~@/modules/module-iaccount/assets/styles/variable.scss';
@import '~@/modules/module-iaccount/assets/styles/mixin.scss';

.bank-type {
  & /deep/ .item-media {
    padding: .25rem .15rem;
    .title {
      font-size: .17rem;
    }
  }
  .btn-link {
    margin-top: .3rem;
    text-align: center;
    .txt {
      color: $color-link;
      font-size: .12rem;
    }
  }
  .type-img {
    width: .5rem;
    margin-left: .1rem;
  }

}