.op-page-wrap-ow {
  .ow-ways {
    padding: .15rem .25rem;
  }

  .ow-way-item {
    display: flex;
    border: solid 1px $color-separate-line;
    border-radius: 5px;
    padding: .2rem .15rem;
    margin-bottom: .25rem;
    align-items: center;
    background: $color-content-bg;

    .ow-icon {
      background-size: contain;
      display: inline-block;
      width: .64rem;
      height: .64rem;
      // border-radius: 50%;
      margin-right: .1rem;
      background-position: center;
      background-repeat: no-repeat;
    }

    .ow-icon-cn {
      @include retina-images('~@/modules/module-iopen/assets/images/open-way/icon-cn');
    }
    .ow-icon-hk {
      @include retina-images('~@/modules/module-iopen/assets/images/open-way/icon-hk');
    }
    .ow-icon-other {
      @include retina-images('~@/modules/module-iopen/assets/images/open-way/icon-other');

    }
  }

}