.download-page-main {
  width: 100%;
  height: 100%;

  .tips-open-brower {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    background-image: url('~@/modules/module-download/images/notice-wx.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 80%;
    z-index: 999;
  }

  .box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-image: url('~@/modules/module-download/images/down_bg.jpg');
    background-size: auto 100%;
    background-position: center;
  }

  .flag {
    flex: 1;
  }

  .btn_area {
    width: 100%;
    padding: .1rem 0 1rem;

    &>button {
      display: block;
      font-size: .18rem;
      width: 10em;
      height: 2.2em;
      line-height: 2.2em;
      text-align: center;
      color: white;
      margin: .2rem auto;
      border-radius: 5px;
      background-color: $color-main;
  }
}


}