@import "~@/assets/css/mixin/retina-img";

#com-mark {
  .mark {
    position: absolute;
    width: 63%;
    height: 100%;
    background: #18243c;
    background: $common-background;
    top: 0rem;
    bottom: 0;
    right: 0;
    z-index: 9;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.5);
    /* box-shadow:inset 0 0 2px 2px rgba(0, 0, 0, 0.5); */
    display: flex;
    flex-direction: column;
  }

  .right {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    top: 0rem;
    left: 0;
    opacity: 0.3;
    z-index: 8;
  }

  .close {
    position: absolute;
    font-size: 0.24rem;
    right: 0.1rem;
    top: 0.05rem;
    color: #7b8191;
    color: $common-Vice
  }

  .userOptions-fr {
    flex: none;
    .userOptions {
      margin-top: 0.4rem;
      padding-left: 0.25rem;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      margin-bottom: 0.25rem;      
    }
  }


  .page {
    width: 0.35rem;
    height: 0.35rem;
  }

  .name {
    color: #7b8191;
    color: $common-Vice;
    margin-left: 0.1rem;

    .isLogin {
      line-height: 1;
      font-size: .15rem;
      color: #2b89e1;
      color: $common-iconColor;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .unx-score {
        display: block;
        font-size: .14rem;
        color: #fff;
        line-height: 1.2;

        .red {
          color: #e13232;
        }
      }
    }

  }

  .page img {
    width: 100%;
    height: 100%;
  }

  #mark-list-menu {
    flex: auto;
    overflow: hidden;
  }

  .mark-list {
    display: block;

    .tli {
      height: 0.5rem;
    }

    .tli i {
      font-size: .16rem;
      margin-right: 0.1675rem;
    }

    .tli a {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-left: 0.3175rem;
      box-sizing: border-box;
      line-height: 0.5rem;
    }
  }


  .router-link-active {
    background: #2b89e1;
    background: $common-iconColor;
  }

  .out-fr {
    flex: none;
    height: 1.4rem;

    .out {
      width: 1.05rem;
      height: 0.4rem;
      text-align: center;
      border: 1px solid #2b89e1;
      border: 1px solid $common-iconColor;
      border-radius: 4px;
      line-height: 0.4rem;
      margin: .5rem 0;
      margin-left: .3rem;
    }
  }




  .noLogin {
    line-height: 0.14rem
  }

  .noLogin a {
    color: #c7cce6;
    color: $common-fontColor;
    display: inline-block;
    height: 0.14rem;
    margin-top: 0.12rem;
    border-left: 0.02rem solid #c7cce6;
    border-left: 0.02rem solid $common-fontColor;
  }

  .noLogin a:first-child {
    border: none;
    padding-right: 0.05rem;
  }

  .noLogin a:last-child {
    padding-left: 0.09rem;
  }

  .com-Lmark-enter-active {
    animation: com-Lmark-in .5s;
  }

  .com-Lmark-leave-active {
    animation: com-Lmark-in .5s reverse;
  }

  @keyframes com-Lmark-in {
    0% {
      right: -100%;
      opacity: 0
    }

    100% {
      right: 0;
      opacity: 1;
    }
  }

  .unx-li {
    .icon-down {
      margin-left: .3rem;

      &::before {
        color: #fff;
      }

      &.open::before {
        display: inline-block;
        transform: rotate(180deg);
      }
    }
  }

  .sub-li {
    .sub-active {
      color: #2b89e1;
    }
  }

  [class^="ticon-img"],
  [class*=" ticon-img"] {
    display: inline-block;
    width: .21rem;
    height: .21rem;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .ticon-img-home {
    @include retina-image('~@/assets/img/menu-icon/icon_img_home', (2, 3));
  }

  .ticon-img-captal {
    @include retina-image('~@/assets/img/menu-icon/icon_img_captal', (2, 3));
  }

  .ticon-img-tradeCenter {
    @include retina-image('~@/assets/img/menu-icon/icon_img_tradeCenter', (2, 3));
  }

  .ticon-img-userCenter {
    @include retina-image('~@/assets/img/menu-icon/icon_img_userCenter', (2, 3));
  }

  .ticon-img-stone {
    @include retina-image('~@/assets/img/menu-icon/icon_img_stone', (2, 3));
  }

  .ticon-img-orderMng {
    @include retina-image('~@/assets/img/menu-icon/icon_img_orderMng', (2, 3));
  }

  .ticon-img-lan {
    @include retina-image('~@/assets/img/menu-icon/icon_img_lan', (2, 3));
  }
}