.olhk-step-bank-card {
  .cube-form-label {
    width: 7em;
  }

  
  .step-content-upload-tips {
    padding: .1rem $padding-lr;
    font-size: $form-lengend-font;
    color: $color-form-lengend-highlight-txt;
  }

  
  .step-content-bank-card-upload {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: .15rem;

    &>li {
      display: inline-block;
      // flex: 1;
      width: 50%;
      padding: 0 .05rem;
      .op-com-photo-img{
        height: 1rem;
        line-height: 1rem;
      }
    }
  }

  .bank-card-tips{
    padding: .1rem $padding-lr .05rem;
    font-size: .12rem;

    .highlight {
      line-height: 1.5em;
      color: $color-txt-highlight;
    }
  }
  .bank-card-desc {
    padding: .15rem $padding-lr;

    .desc-title {
      font-size: .13rem;
    }

    .desc-tips {
      margin-top: .1rem;
      font-size: .12rem;
      line-height: 1.5em;
    }
  }

}