.help-search {
    flex-shrink: 0;
    width: 100%;
	display: flex;
	flex-direction: row;
    align-items: center;
    font-size: .13rem;
    
    .search-form{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius:4px;
        height: .36rem;
        background-color: $color-block-bg;
    }
    

    .query-icon {
        flex-shrink: 0;
        flex-basis: .15rem;
        width: .15rem;
        height: .15rem;
        margin-left: .08rem;
        margin-right: .08rem;
        background-image: url("@/../../img/search.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 50% 50%;
    }

    input{
        flex-grow: 1;
        display: inline-block;
        margin: 0;
        min-width: 10em;
        background: none;
        border: none;
        line-height: 1.5em;
    }

    .clean-icon {
        flex-shrink: 0;
        width: .2rem;
        height: .2rem;
        flex-basis: .2rem;
        margin-right: .05rem;
        border-radius: 50%;
        background-color: $color-input-icon;
        background-image: url("@/../../img/close.png");
        background-size: 50% 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    
    .placeholder {
        display: block;
        text-align: center;
        color: $color-input-txt-placeholder;
    }

    .cancel{
		margin-left: .1rem;
        color: $color-main;
		cursor: pointer;
    }
  }