@import '~@/customize/theme/_val_white.scss';
@import '~@/modules/module-iaccount/assets/styles/variable.scss';
@import '~@/main/assets/scss/_mixin.scss';

.add-limit-wrap {
  width: 100%;
  font-size: .15rem;

  .limit-current-box {
    padding-top: .05rem;
    padding: .05rem 0 0;
  }
  .limit-current-item {
    display: flex;
    padding: .15rem .1rem;
    justify-content: space-between;
    @include border-after-1px();

    .unit {
      margin-left: .05rem;
    }
  }

  .limit-next-box{
    padding: .1rem;
  
    .title {
      padding: .1rem 0;
    }

    .limit-next-content {
      display: flex;
      justify-content: center;
      margin: auto;
      flex-wrap: wrap;
      text-align: center;
    }

    .limit-next-item {
      flex:1;
      display: inline-block;
      text-align: center;
      margin: .08rem 0;

      .name {
        padding: .1rem 0;
      }

      .content {
        font-size: .13rem;
      }

      .unit{
        margin-left: .05rem;
      }
    }

    .limit-next-item + .limit-next-item{
      @include border-before-1px(left, $color-separate-line);
    }
  }

  .limit-trdpwd-box {
    padding: .15rem .1rem .12rem;

    label{
      display: inline-block;
      width: 6em;
    }

    input {
      line-height: 1.5em;
    }

  }
  
  .limit-agree-box{
    padding: .1rem;
    .cube-checkbox{
      padding: 0
    }

  }

  .footer {
 
    .btn-wrap {
      padding: 0 .1rem .15rem;
    }
    
    .record {
      float: right;
      margin-right: .35rem;
      color: $color-main-sub;
    }
  }

  .tips {
    color: $color-txt-sub;
    font-size: .13rem;
    line-height: 1.5em;
    padding: .15rem .1rem 0;

    h3 {
      margin-bottom: .05rem;
    }
  }

}