@import '../../assets/styles/mixin.scss';

.fee-statement-wrap {
  width: 100vw;
  height: 100vh;
  background-color: $color-bg;
  overflow: hidden;
  
  .header {
    background-color: #fff;
    margin-bottom: .15rem;
    
    .account {
      display: flex;
      justify-content: space-between;
      padding: 20px 20px;
      
      span {
        margin-right: 0.2rem;
      }

      .arrow {
        display: inline-block;
        @include arrow(right, 0.1rem, $color-ccc, 0.015rem, 0)
      }
    }
  }

  .stock {
    width: 100%;
    margin-bottom: .15rem;

    .title {
      width: 100%;
      padding: 0.15rem 0.1rem;
      margin-bottom: 0.02rem;
      background-color: #fff;
      vertical-align: top;

      .icon {
        display: inline-block;
        width: .3rem;
        height: .3rem;
        background-repeat:no-repeat;
        background-size: 100%;
        background-position: center;
        vertical-align: middle;
      }

      span {
        margin-left: .1rem;
        vertical-align: middle;
      }

    }

    .brokerage-standard {
      width: 100%;
      padding: 0.15rem 0.1rem;
      color: $color-txt-sub;
      background-color: #fff;
    }
  }

  .icon-hk {
    background-image: url('../../assets/img/select-type/icon_hk.png');
  }
  .icon-us {
    background-image: url('../../assets/img/select-type/icon_us.png');
  }
}