@import '../components/styles.scss';

.margin-page-wrap {

    .cube-input,
    .cube-select {
      font-size: $form-item-field-font;
      color: $color-form-item-field-txt;
    }

    .label-width-3em .cube-form-label{
      width: 3em;
    }
    .label-width-4em .cube-form-label{
      width: 4em;
    }
    .label-width-5em .cube-form-label{
      width: 5em;
    }
    .label-width-6em .cube-form-label{
      width: 6em;
    }
    .label-width-7em .cube-form-label{
      width: 7em;
    }
    .label-width-8em .cube-form-label{
      width: 8em;
    }
    .label-width-9em .cube-form-label{
      width: 9em;
    }
    .label-width-10em .cube-form-label{
      width: 10em;
    }
  
  .telephone {
    color: $color-link-txt-active;
  }
}



