@import './components/style.scss';

// @import '~assets/stylus/variable'
// @import '~assets/stylus/mixin'

.op-guide {
  // height: 100%;
  .box {
    // height: 100vh;
    // background: $color-main;
    color: #999;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
