
@import '~@/customize/theme/_val_white.scss';
@import '~@/main/assets/scss/_mixin.scss';

.margin-confirm{
  .list-wrap {
    background-color: $color-txt-rev;
    margin-bottom: .1rem;
    li {
      padding: .08rem .15rem;
      a {
        display: block;
        width: 100%;
        font-size: .13rem;
        line-height: .25rem;
        @include arrow(bottom, .08rem, .01rem, $color-input-border, .07rem)
      }
    }
    li:not(:last-child) {
      @include border-after-1px(bottom,  $color-input-border)
    }
  }
  .cube-input_active:after {
    border-color: $color-form-active;
  }    

  .input-wrap {
    width: 100%;
    height: .5rem;
    padding: 0rem .15rem;
    background-color: $color-content-bg;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
    .label {
      // width: 30%;
      flex: 1 1 auto;
      line-height: .5rem;
      font-size: 100%;
      // padding-bottom: .1rem;
    }
    .pwd {
      flex: 1 1 80%;
      // padding-left: .3rem;
    }
  }
  .agree {
    margin: .1rem 0;
    .agree-font {
      color: $color-txt-sub;
    }
  }

  & /deep/ .custom-form-btn {
    padding-top: 0;
  }
}
