@import '~@/modules/module-iaccount/assets/styles/variable.scss';
@import '~@/modules/module-iaccount/assets/styles/mixin.scss';

.sec-ways {
  .sec-ways-desc {
    font-size: .12rem;
    margin-top: .05rem;
    color: $color-999;
    
  }
 
}